* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px 150px;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav .logo {
    margin-right: auto;
}

.nav .logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.media {
    padding: 100px 0;
    display: flex;
    gap: 100px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.description p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    align-self: flex-start;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 18px;
}

.card-section {
    background: #f9faf8;
    padding-bottom: 80px;
}

.card-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 30px 0;
}

.card-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card {
    width: 200px;
}

.card-caption {
    text-align: center;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-content {
    display: flex;
    flex-direction: column;
    padding: 80px 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.action-section {
    background: #f9faf8;
    display: flex;
    justify-content: center;
}

.action-content {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    width: 800px;
    margin: 50px 0;
    gap: 100px;
    border: 1px solid white;
    border-radius: 10px;
}

.action-content > * {
    padding: 35px 0;
}

.action-text {
    color: #f9faf8;
}

.signup-action {
    flex: none;
    align-self: center;
    padding: 5px 25px;
    background: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

.call {
    font-size: 18px;
    font-weight: 900;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 25px 0;
}